@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat&family=Open+Sans:wght@400;500;600;700&family=Oswald&family=Poppins:wght@400;500;600;700&display=swap");

* {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #e4e5e7;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-width: 375px;
}

.homepage {
  background-image: url(Assets/files/header-background-mobile.jpg);
  min-width: 60%;
  height: 700px;
  border-bottom-left-radius: 10%;
  margin-top: -1rem;
  margin-left: -0.5rem;
  margin-right: 0;
  overflow-x: hidden;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.navbar-links2 {
  display: none;
}

.mylogo {
  color: #6070ff;
  width: 100%;
  margin-left: 1.5rem;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  overflow-x: hidden;
}

.hamburger {
  cursor: none;
  margin-right: 2rem;
}

.home-body {
  background-image: url(Assets/files/header\ shapes.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 604px;
}

.heading {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin-left: 1.3rem;
  padding-top: 6.5rem;
}

.paragraph {
  width: 80%;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1.3rem;
  margin-top: -1.7rem;
}

.connect {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1.3rem;
}

#social-links {
  display: flex;
  gap: 1rem;
  margin-left: -1rem;
}

#works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin-left: 3rem;
  margin-right: 2rem;
}

.container1 {
  background: white;
  border-radius: 16px;
  margin-top: 13%;
  margin-left: -10%;
  width: 100%;
  height: 550px;
}

.container2 {
  background: white;
  height: 596px;
  width: 100%;
  border-radius: 16px;
  margin-top: 13%;
  margin-left: -10%;
}

.containerx {
  height: 620px;
}

.containery {
  height: 640px;
}

.works-pic {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-right: 15%;
}

.responsive-image1,
.responsive-image2 {
  display: none;
}

.deskpar3,
.deskpar4,
.deskpar5 {
  display: none;
}

.canopyX,
.canopyuber {
  display: none;
}

.canopy-facebook {
  display: none;
}

.works-heading,
.facebook,
.deskheading2,
.uberheading {
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(23, 43, 77, 1);
  margin-left: -6%;
  margin-bottom: -0.2rem;
  width: 60%;
}

.facebook,
.uberheading {
  margin-left: -50rem;
  margin-bottom: -5rem;
}

.works-paragraph {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  height: 76px;
  width: 85%;
  top: 92px;
  margin-left: -6%;
  color: rgba(52, 69, 99, 1);
}

.canopy {
  display: flex;
  margin-left: -5.5%;
  color: #344563;
  font-weight: 500;
  font-size: 13px;
}

.canop {
  font-weight: 600;
}

.circle {
  color: #c1c7d0;
  font-size: 10px;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
}

.canopyX10 {
  display: none;
}

.languages {
  display: flex;
  gap: 1rem;
}

.languages li {
  padding: 1px 8px;
  background: #eeeef7;
  font-size: 15px;
  border-radius: 8px;
  border: 0;
  color: rgba(96, 112, 255, 1);
}

.ruby {
  display: none;
}

.flex li {
  width: 90%;
  margin: auto;
}

.languages li:nth-child(1) {
  margin-left: -3.4rem;
}

button {
  margin-left: -0.8rem;
  margin-top: 1.5rem;
  background-color: #fcfbfe;
  padding: 10px;
  border: 1px solid rgba(57, 109, 242, 1);
  border-radius: 8px;
  color: rgb(86, 135, 235);
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
}

button:hover {
  background-color: #7f8cff;
  color: #dfe1e6;
}

.project-33 {
  margin-top: 2rem;
}

#about-self {
  background-image: url(Assets/files/about\ myself\ -\ background-\ shape-\ desktop.jpg);
  border-top-right-radius: 40px;
  margin-left: -0.5rem;
  margin-top: 6rem;
  height: 1263px;
}

.aboutself-heading {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(23, 43, 77, 1);
  padding-top: 6.2rem;
  margin-left: 5%;
}

.aboutself-paragragh {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(52, 69, 99, 1);
  margin-left: 5%;
  margin-top: -2rem;
  width: 82%;
}

.connect2 {
  display: flex;
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 6%;
}

#social-icons {
  display: flex;
  gap: 15px;
  margin-left: -0.6rem;
}

.resume {
  display: flex;
  margin-left: 6%;
  margin-top: -1px;
  padding-bottom: 2.5%;
  height: 40px;
  border-radius: 8px;
}

.languages1 {
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgb(18, 17, 17);
  padding-top: 3rem;
  margin-left: 2rem;
}

.arrow {
  display: flex;
  margin-left: 75%;
  margin-top: -2.5rem;
  bottom: 37.5%;
}

.tag {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 95%;
  height: 66.72px;
  background-image: url(Assets/files/Ellipse\ 2.jpg.png);
  background-position: 2%;
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: 0;
  color: #253858;
  margin-left: -3.5rem;
  font-size: 17px;
  font-weight: 550;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-right: 3rem;
}

.tag2 {
  background-image: url(Assets/files/HTML.png);
  padding-right: 6rem;
}

.tag3 {
  background-image: url(Assets/Ellipse\ 1.jpg);
  padding-right: 7rem;
}

.tag:hover {
  background-color: rgb(203, 203, 205);
}

.works {
  list-style: none;
  padding-top: 2rem;
}

.frameworks {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-left: 5%;
}

.arrow1 {
  display: flex;
  margin-left: 75%;
}

.skills {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(23, 22, 22);
  margin-left: 5%;
  margin-top: 10%;
}

.arrow2 {
  display: flex;
  margin-left: 75%;
}

.divider {
  height: 1px;
  width: 80%;
  margin-top: 7%;
  margin-left: -5%;
  background-color: #dfe1e6;
}

.footer {
  background-color: #6070ff;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: -8rem;
  margin-left: -2%;
  padding-right: 10px;
  border-top-left-radius: 70px;
}

.footer-container {
  background-image: url(Assets/files/footer\ shapes.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.footer-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding-top: 32%;
}

.footer-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(235, 235, 255, 1);
  width: 80%;
  height: 137px;
  margin: auto;
  margin-top: -1rem;
}

.flex {
  margin-top: 2rem;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navbar-links li:first-child {
  margin-top: 6rem;
}

input[type="text"],
input[type="email"] {
  box-sizing: border-box;
  font-weight: 400;
  color: rgba(23, 43, 77, 1);
  border-radius: 8px;
  width: 100%;
  padding: 8px 12px;
  height: 48px;
  outline: none;
  font-size: 17px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
}

textarea {
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: rgba(23, 43, 77, 1);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 170px;
  outline: none;
  padding: 3%;
  background: #fff;
}

#submit {
  display: flex;
  padding: 8px 12px;
  margin-top: 0.1rem;
  margin-left: -50%;
  border: 1px solid #cfd8dc;
  background-color: #fff;
  border-radius: 8px;
  line-height: 24px;
  font-weight: 500;
  font-size: 17px;
  color: rgba(96, 112, 255, 1);
  opacity: 0.9;
}

#submit:hover {
  background-color: #6070ff;
  color: #fff;
}

@media (min-width: 768px) {
  .home-body {
    background-image: url(Assets/files/head\ shapes-desktop.png);
    background-size: contain;
    margin-top: 1rem;
    margin-left: 5rem;
    color: rgba(255, 255, 255, 1);
    overflow: hidden;
  }

  .mylogo {
    position: absolute;
    margin-left: 12%;
    margin-top: -1rem;
  }

  .hamburger {
    display: none;
  }

  .navbar-links2 {
    display: flex;
    margin-right: 6rem;
    margin-top: -1rem;
  }

  .navbar-links2 ul {
    display: flex;
    flex-direction: row;
  }

  .navbar-links2 li a {
    margin-left: 1rem;
    color: #344563;
  }

  .navbar-links2 li a:hover {
    opacity: 8;
    font-size: 16px;
    color: rgb(86, 135, 235);
  }

  .heading {
    width: 32%;
    margin-left: 18%;
  }

  .paragraph {
    width: 54%;
    margin-left: 18%;
  }

  .connect {
    margin-left: 18%;
  }

  #social-links {
    margin-left: 15%;
  }

  #works {
    margin-left: 10%;
    margin-top: 5rem;
    padding-bottom: 5rem;
  }

  .container1 {
    display: flex;
    flex-direction: row;
    height: 496px;
    overflow: hidden;
    margin-top: 1rem;
    align-items: center;
  }

  .container2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -0.1px;
    margin-top: 1rem;
    height: 496px;
  }

  .container3 {
    margin-top: 10rem;
  }

  .languages li {
    padding: 2%;
  }

  .container2 li:nth-child(1),
  .container2 li:nth-child(2) {
    max-width: 100%;
    width: 50%;
    overflow: hidden;
  }

  .works-pic {
    display: none;
  }

  .responsive-image1 {
    display: flex;
    justify-content: center;
    height: auto;
  }

  .responsive-image2 {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    height: auto;
    margin-right: 2rem;
    margin-top: 1.5rem;
  }

  .deskheading1 {
    margin-bottom: 1rem;
    margin-left: 6%;
  }

  .deskheading2 {
    margin-top: 6rem;
    margin-bottom: -5rem;
    margin-left: 6%;
  }

  .facebook,
  .uberheading {
    margin-left: 6%;
    margin-top: 6rem;
  }

  .facebook {
    margin-top: -2rem;
  }

  .canopyuber,
  .canopy-facebook,
  .canopyX10 {
    display: flex;
    margin-left: 6%;
    margin-top: 6rem;
    font-size: 18px;
  }

  .canopyX {
    display: none;
  }

  .canopyX1 {
    color: #253858;
  }

  .circle {
    display: flex;
  }

  .faceB,
  .canop {
    font-weight: 600;
  }

  .canopy,
  .deskpar1 {
    margin-left: 6%;
    width: 78%;
  }

  .canopy {
    font-size: 17px;
  }

  .deskpar1 {
    margin-bottom: -0.5rem;
  }

  .deskparY,
  .multi,
  .tonic {
    display: none;
  }

  .deskpar3,
  .deskpar4,
  .deskpar5 {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(52, 69, 99, 1);
    margin-left: 6%;
    width: 58%;
  }

  .languages {
    margin-left: 8.8%;
    margin-top: 1rem;
  }

  .languages-2 {
    margin-right: 4rem;
  }

  .languages-2 li:nth-child(1) {
    width: 40px;
  }

  .languages-2 li:nth-child(2) {
    width: 100px;
  }

  .languages-2 li:nth-child(1),
  .languages-2 li:nth-child(2),
  .languages-2 li:nth-child(3) {
    margin-right: -0.5rem;
    padding: 2%;
  }

  .ruby {
    display: flex;
  }

  .project-1,
  .project-3 {
    margin-left: 7.8%;
  }

  .project-2,
  .project-4 {
    margin-left: 7%;
    display: flex;
  }

  #about-self {
    background-image: url(Assets/files/about\ myself\ -\ background-\ shape-\ desktop.jpg);
    border-top-right-radius: 10rem;
    width: 100%;
    height: 916px;
    margin-top: -0.1rem;
    margin-left: 0.3rem;
  }

  .aboutself-heading {
    margin-left: 8%;
  }

  .aboutself-paragragh {
    margin-left: 8%;
    width: 33%;
  }

  .connect2 {
    margin-left: 8%;
  }

  #social-icons {
    margin-left: 5.5%;
  }

  .resume {
    margin-left: 8%;
    margin-top: 2rem;
  }

  .languages1 {
    margin-left: 48%;
    margin-top: -30%;
  }

  #tech {
    display: flex;
  }

  .tag {
    width: 118px;
    height: 118px;
    flex-direction: column-reverse;
    margin-right: 4.5rem;
    background-position-y: 15%;
    background-position-x: 20%;
    padding-top: 8%;
    padding-right: 2px;
  }

  .tag2 {
    padding-right: 2rem;
  }

  .tag3 {
    padding-right: 3.5rem;
  }

  .tag:hover {
    transform: scale(1.07);
  }

  .divider {
    display: flex;
    width: 488px;
    margin-left: 44%;
    margin-top: 3%;
  }

  .frameworks {
    margin-left: 45.5%;
  }

  .skills {
    margin-left: 45.5%;
  }

  .arrow {
    margin-left: 60%;
  }

  .arrow1,
  .arrow2 {
    display: flex;
    margin-left: 80%;
  }

  .footer {
    background-color: rgba(96, 112, 255, 1);
    width: 100%;
    height: 846px;
    margin-top: -10rem;
  }

  .footer-container {
    background-image: url(Assets/files/contact\ form\ background\ shapes.svg);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
  }

  .footer-heading {
    padding-top: 12%;
    padding-bottom: 1rem;
  }

  .footer-paragraph {
    height: 124px;
    width: 46%;
    margin-bottom: -3rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 0%;
    width: 100%;
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }

  .flex {
    width: 35%;
    align-items: center;
    padding-left: 32%;
  }

  #submit {
    margin-left: 5%;
  }
}
