@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat&family=Open+Sans:wght@400;500;600;700&family=Oswald&family=Poppins:wght@400;500;600;700&display=swap");

* {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #e4e5e7;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-width: 60%;
}

.homepage {
  background-image: url(Assets/files/header-background-mobile.jpg);
  min-width: 60%;
  height: 700px;
  border-bottom-left-radius: 10%;
  margin-top: -1rem;
  margin-left: -0.5rem;
  margin-right: 0;
  overflow-x: hidden;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.mylogo {
  color: #6070ff;
  width: 100%;
  margin-left: 1.5rem;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  overflow-x: hidden;
}

.hamburger {
  cursor: none;
  margin-right: 10%;
}

.home-body {
  background-image: url(Assets/files/header\ shapes.png);
  background-repeat: no-repeat;
  min-width: 60%;
  height: 604px;
}

.heading {
  min-width: 300px;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin-left: 1.3rem;
  padding-top: 6.5rem;
}

.paragraph {
  min-width: 50%;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1.3rem;
  margin-top: -1.7rem;
}

.connect {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1.3rem;
}

#social-links {
  display: flex;
  padding-right: 11.7rem;
  padding-top: 2%;
  margin-left: -1.2rem;
  justify-content: space-between;
  list-style: none;
  margin-top: 0.5%;
}

#works {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
  list-style: none;
}

.container1 {
  background: white;
  height: 552px;
  width: 100%;
  border-radius: 16px;
  margin-top: 12%;
  margin-left: -10%;
}

.container2 {
  background: white;
  height: 596px;
  width: 100%;
  border-radius: 16px;
  margin-top: 13%;
  margin-left: -10%;
}

.works-pic {
  margin-top: 5%;
  margin-left: -7%;
}

.works-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(23, 43, 77, 1);
  margin-left: -6%;
  padding-top: 2%;
  width: 200px;
}

.works-paragraph {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  height: 76px;
  max-width: 280px;
  top: 92px;
  margin-left: -5%;
  color: rgba(52, 69, 99, 1);
}

.canopy {
  margin-left: -5%;
}

.languages {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  margin-left: -3px;
}

.languages li {
  padding: 1px 8px;
  background: #eeeef7;
  font-size: 15px;
  border-radius: 8px;
  border: 0;
  color: rgba(96, 112, 255, 1);
}

.languages li:nth-child(1) {
  margin-left: -3.4rem;
}

button {
  margin-left: -5%;
  margin-top: 7%;
  background-color: #fcfbfe;
  padding: 10px;
  border: 1px solid rgba(57, 109, 242, 1);
  border-radius: 16px;
  color: rgb(86, 135, 235);
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
}

button:hover {
  background-color: #7f8cff;
  color: #dfe1e6;
}

#about-self {
  background-image: url(Assets/files/about\ myself\ -\ background-\ shape-\ desktop.jpg);
  border-top-right-radius: 40px;
  margin-left: -0.5rem;
  margin-top: 6rem;
  position: absolute;
  height: 1263px;
}

.aboutself-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(23, 43, 77, 1);
  padding-top: 6.2rem;
  margin-left: 5%;
}

.aboutself-paragragh {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(52, 69, 99, 1);
  margin-left: 5%;
  margin-top: -8%;
  height: 147px;
  max-width: 82%;
}

.connect2 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 6%;
}

.connect2:hover {
  background-color: #7f8cff;
  color: #dfe1e6;
}

#social-icons {
  display: flex;
  gap: 15px;
  margin-left: -0.6rem;
}

.resume {
  margin-left: 1.5rem;
  margin-top: -1px;
  padding: 10px;
  height: 40px;
  border-radius: 8px;
}

.languages1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgb(18, 17, 17);
  padding-top: 2rem;
}

.arrow {
  position: absolute;
  left: 18rem;
  right: 25%;
  top: 43%;
  bottom: 37.5%;
}

.tag {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 303px;
  height: 66.72px;
  background-image: url(Assets/files/Ellipse\ 2.jpg.png);
  background-position: 2%;
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: 0;
  color: #253858;
  margin-left: -3.5rem;
  font-size: 17px;
  font-weight: 550;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-right: 3rem;
}

.tag2 {
  background-image: url(Assets/files/HTML.png);
  padding-right: 6rem;
}

.tag3 {
  background-image: url(Assets/Ellipse\ 1.jpg);
  padding-right: 7rem;
}

.tag:hover {
  background-color: rgb(203, 203, 205);
}

.works {
  list-style: none;
  padding-top: 2rem;
}

.frameworks {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-left: 5%;
}

.arrow1 {
  padding-left: 8.5rem;
}

.skills {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(23, 22, 22);
  margin-left: 5%;
  margin-top: 10%;
}

.arrow2 {
  padding-left: 13rem;
}

.divider {
  height: 1px;
  width: 327px;
  margin-top: 7%;
  margin-left: -5%;
  background-color: #dfe1e6;
}
